<div class="container food-drink-form">
  <% @categories.each do |category| %>
    <% if category.products.any? %>
      <div class="reservation wow fadeInLeft work" data-wow-delay="0.4s" id="work">
        <div>
          <div class="row container">
            <div class="col-md-9">
              <div id="main-reservation-text"><h1><%= category.name %></h1>
               <p><%= category.description %></p>
              </div>
            </div>
            <div class="col-md-3 see-all-button">
              <%= link_to t("see_all"), category_path(category),
                class:"btn btn-primary pull-right" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row grids text-center">
        <%= render partial: "categories/product", collection: category.products.limit(3),
          as: "product" %>
      </div>
    <% end %>
  <% end %>
</div>
